/* Global Font Styles */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    background-color: rgb(245, 245, 245);
}

body {
    margin: 0;
}

h1 {
    font-size: 4em;
    color: rgb(50, 50, 50);
}

h2 {
    font-size: 3em;
    color: rgb(70, 70, 70)
}

h3 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

p, a, pre {
    font-size: 1.5em;
}

a:link {
    color: rgb(0, 120, 215);
}

a:visited {
    color: rgb(121, 201, 238);
}

a:focus {
    color: rgb(255, 255, 255);
}

a:hover {
    font-weight: bold;
}

a:active {
    color: rgb(255, 91, 73);
}

/* Header Styles */

.sub-title {
    width: 100%;
    border-bottom: black solid 1px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 27, 27);
}

.main-title h1 {
    color: rgb(255,255,255);
    margin: 1em;
}

.main-title span:first-child {
    color: rgb(0, 120, 215);
}

.main-title span:nth-child(2) {
    color: rgb(179, 135, 78);
}

.main-title::first-letter {
    color: rgb(121, 201, 238);
}

.main-title span:last-child {
    color: rgb(91, 175, 126);
}

.sub-title h2 {
    text-align: center;
    font-style: italic;
    font-weight: 100;
}

/* Nav Styles Mobile-First*/

header li {
    list-style: none;
    padding: 5px;
    min-width: 8em;
    text-align: center;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 3px;
}

header ul {
    width: 320px;
    padding: 0px;
    margin-right: 2em;
}

nav {
    margin: 0px;
    padding: 0em;
}

.nav-links a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.nav-links a:link, .nav-links a:visited {
    color: rgb(245, 245, 245);
}

.nav-links a:focus {
    border: 2px solid rgb(121, 201, 238);
}

.nav-links a:hover {
    color: rgb(0, 120, 215);
}

.nav-links a:active {
    color: rgb(255, 91, 73);
}

/* Body Styles */

.main-page p {
    color: rgb(255, 255, 255);
    margin: 0px;
}

.main-page span {
    background-color: rgb(255, 255, 255);
    color: rgb(27, 27, 27);
    font-weight: bold;
}

/* Command Line Design */

main {
    width: 100%;
    height: 400px;
    margin: 0px;
    padding: 10px 0px;
    background: url(/images/laptop-desk-notebook-w1920-darken.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.console {
    font-family: 'Fira Mono';
    max-width: 425px;
    height: 350px;
    box-sizing: border-box;
    margin: auto;
  }
  
  .console-title {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #555;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #DDD;
  }
  
  .console .consolebody {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    height: calc(100% - 40px);
    background-color: #000;
    color: #63de00;
    text-align: center;
  }
  
  .console .consolebody p {
    line-height: 1.5rem;
  }

  .floating-text {
    position: relative;
    left: 25px;
  }

/* Contact Section Styles */

aside {
    text-align: center;
}

aside ul {
    padding: 0px;
    list-style: none;
}

aside ul li {
    display: inline-block;
    margin: 0px 10px;
}

aside ul a:visited {
    color: rgb(0, 120, 215)
}

aside ul a:focus {
    background-color: rgb(255,255,255);
    color: rgb(27, 27, 27);
}

i {
    font-size: 3em;
}

/*Footer Styles*/

footer {
    position: sticky;
    bottom: 0;
    background-color: rgb(94, 94, 94);
    padding: 1.5em 0.5em;
    text-align: center;
}

footer p {
    margin: 0px;
    color: rgb(255,255,255);
}

/*Responsive Styles*/


/*--Responsive Nav Styles*/

@media (min-width: 865px) {
    header ul {
        width: 100%;
    }

    header li {
        display: inline-block;
        margin-right: 10px;
    }
}

@media (min-width: 694px) {
    nav {
        margin: 10px 0px;
    }
}

@media (max-width: 591px) {
    .main-title {
        flex-direction: column;
    }

    header ul {
        margin: 0px;
    }
}