/* -----Project Page Styles----- */

.fcc-web-design-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    background-color: darkgray;
    padding: 50px;
}

.project-tile {
    border-radius: 25px;
    text-align: center;
    background-color: lightgray;
    box-shadow: 17px 11px 30px -15px rgba(0,0,0,0.75);
    padding-bottom: 4em;
}

.fcc-web-design-grid p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    color: rgb(68, 68, 68);
}

.fcc-web-design-grid img {
    max-width: 300px;
}

.fcc-web-design-grid h3 {
    font-size: 3em;
}

.fcc-web-design-grid .project-tile:first-child{
    background-color: rgb(65, 65, 65);
}

/* Responsive Project Page Styles */

@media (max-width: 1214px) {
    .fcc-web-design-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 826px) {
    .fcc-web-design-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 398px) {
    .fcc-web-design-grid {
        padding: 0px;
    }

    .project-tile {
        box-shadow: none;
    }
}

/*-----End Project Page Styles-----*/



/*-----Resume Page Styles-----*/

.resume-wrapper {
    width: 100%;
    height: 100%;
}

.resume-wrapper h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5em;
    letter-spacing: 0.9rem;
    margin: 60px 0px;
}

.resume-content {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 20px auto;
    padding: 4em;
}

.resume-content section:first-child {
    padding: 4em;
}

.resume-content h3, h4, h5 {
    color: rgb(0, 0, 0);
    margin: 3px;
}

.resume-content h4 {
    color: rgb(121, 201, 238);
}

.resume-content h2, .resume-content h3, .resume-content h3 + p {
    text-align: center;
}

.resume-content p {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: initial;
    line-height: initial;
    margin: 3px;
}

.resume-content ul {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 0px;
}

.resume-content span, .resume-content .skill-titles {
    font-weight: bold;
    font-size: 15px;
    color: rgb(0, 120, 215);
}

    /*Resume Download Box*/

.button-wrapper {
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    width: max-content;
    margin: 0px auto;
    padding: 1.5em;
    text-align: center;
}

/*Responsize Resume Page Styles*/

@media (max-width: 406px) {
    .resume-content section:first-child {
        padding: 0px;
    }

    .resume-content {
        padding: 2em;
    }

    .resume-wrapper h2 {
        font-size: 4em;
    }
}

/*-----About Page Styles-----*/

body article p {
    background-color: rgb(68, 68, 68);
    color: rgb(212, 212, 212);
    padding: 2em 10%;
    line-height: 1.5em;
    margin-top: 0px;
}

/*-----JS 30 page------*/
.js-30-links {
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 3rem;
    border-bottom: black 1px solid;
}

/*---Usedi in multiple pages---*/
.background-image {
    width: 100%;
    margin: 0px;
    padding: 60px 0px;
    background: url(/images/laptop-desk-notebook-w1920-darken.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*-----Contact Page Styles-----*/

.contact-wrapper {
    text-align: center;
    background-color: rgb(212, 212, 212);
    padding-top: 50px;
}