/*Global Styles*/

html {
  font-family: "Coda", cursive;
  /*background: #4C4C4C;*/
  color: #ffffff;
}

body {
  margin: 0px;
  background: url(/images/keyboard-large-closeup-dark-1920w.jpeg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  margin-top: 140px;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 50px 0px 0px 0px;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  text-align: center;
  margin: 0px;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 30px 0px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/*Nav styles*/

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: #882e2e;
}

ul {
  padding: 0px;
}

li {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 0.4em;
}

li:last-child {
  margin-right: 0px;
}

/*Section styles*/

#welcome-section {
  height: 100vh;
}

#welcome-section p {
  margin: 10px 0px 0px 0px;
}

#projects {
  background: #2e5b88;
  padding-bottom: 80px;
}

#projects h2 {
  padding-top: 75px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cecece;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 80px;
  margin: 80px 40px;
  justify-items: center;
}

/*.project-tile {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
}*/

.project-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #14283c;
}

img[src*="https://live"]
{
  object-fit: cover;
  object-position: -25px 10px;
}

.project-title {
  background: #000000;
  padding: 20px 0px;
  margin-top: -6px;
}

.show-all-bttn {
  background: #000000;
  text-align: center;
  width: 40vw;
  margin: 120px auto;
  padding: 10px;
}

.show-all-bttn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
}

#contact {
  padding: 40px 0px;
}

#contact p {
  font-size: 1em;
  margin: 10px;
}

.social-flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-flexbox li {
  display: block;
  margin: 10px;
}

.social-flexbox li i::after {
  content: "";
  margin: 5px;
}

/*Footer styles*/

footer {
  border-top: 3px solid #882e2e;
}

footer p {
  font-size: 1em;
}

/*Responsive Styles*/

@media (max-width: 340px) {
  .grid {
    margin: 100px 0px;
  }

  .project-tile::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 5em;
    content: "\f063";
    display: block;
    text-align: center;
    margin-top: 40px;
  }

  .project-tile:last-of-type::after {
    font-family: unset;
    font-weight: unset;
    font-size: unset;
    content: "";
    display: unset;
    text-align: unset;
    margin-top: unset;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.25em;
  }
}

/*Tablet styles*/

/*@media (min-width: 768px) {
  
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  
  .project-tile {
    width: 375px;
  }
  
  img[src*="https://live"] {
    object-fit: cover;
    object-position: -25px 10px;
  }
  
  .social-flexbox li {
    display: inline-block;
  }
  
}*/
